*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #c2ad90;
    --button-color: #AF8C64;
    --secondary-color: #e4dbce;
    --secondary-text: #0c100e;
}

body{
    background-color: #364442;
}

header{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: .5rem;
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: "Libre Baskerville";
    margin-bottom: 1.5rem;
    text-shadow: 1px 3px 4px var(--secondary-text);
}

#library h3{
    font-size: 1.25rem;
    padding: .5rem;
}

#library{
    display: flex;
    flex-wrap: wrap;
}

.book-card{
    color: var(--secondary-text);
    border: 2px solid var(--secondary-text);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    width: 30%;
    background-color: var(--secondary-color);
}

.bold{
    font-weight: 600;;
}

.btn{
    border-radius: 8px;
    border: none;
    padding: 1rem;
    font-weight: 600;
    background-color: var(--button-color);
    box-shadow: 1px 3px 5px #654e34;
    margin: 1.5rem;
    transition: transform 0.3s ease-in-out;
}

.btn:hover, .btn:focus-visible{
    transform: translateY(-5px) translateX(-5px);
    background-color: #48182f;
    color: var(--text-color)
}

form{
    background-color: var(--secondary-color);
    color: var(--secondary-text);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem auto;
    width: 50%;
    height: auto;
    display: none;
    font-size: 1.25rem;;
}

.show{
    display: block;
}

fieldset{
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

fieldset legend{
    font-size: 1.5rem;
    font-family: "Libre Baskerville";
}

fieldset fieldset {
    align-self: flex-start;
    width: auto;
    margin-left: 0;
    margin-right: auto;
}

fieldset #mini{
    display: flex;
    align-items: left;
    gap: .5rem;
}

input[type="text"], input[type="number"]{
    max-width: 50%;
}

input:focus {
    outline: 2px solid var(--button-color);
    background-color: #fffaf3;
}

input[type="submit"]{
    width: 30%;
    align-items: center;
}
